src/main/resources/schema/mul.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://mul.cal.tum.edu" targetNamespace="http://mul.cal.tum.edu"
	elementFormDefault="qualified">
	<xs:element name="MulNumbersRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="n1" type="xs:string" />
				<xs:element name="n2" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MulNumbersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="n1" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>